body {
    font-family: sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  .result-thumbnail {
    width: 150px;     /* 任意の正方形サイズ */
    height: 150px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .result-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* アスペクト比を保ちつつ中央をトリミング */
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  .clabel {
    display: inline-block;
  }

  .beauty-score{
    font-size: 40px;
  }
  .beauty-score span{
    font-size: 25px;
  }
  .beauty-score .clabel{
    font-size: 20px;
  }